* {
    color: darkred;
    background-color: #ffffee;
    font-family: Helvetica, Arial, sans-serif ;
    box-sizing: content-box;
}
.no-background {
    background-color: transparent;
}
img {
    display: block;
}
h1 {
    color: red;
    background-color: #eeeedd;
}
li {
    width: fit-content;
}
ul li {
    font-size: 24px;
}
ol li {
    font-size: 24px;
}
.title {
    display: flex;
}
#main-title {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    text-decoration-line: none;
    background-color: #eeeedd;
    color: red;
    border: 8px double red;
    margin: 0 auto;
}

#recipe-list {
    display: flex;
    list-style: none;
}
.recipe img {
    height: 250px;
    width: 500px;
    margin: 8px;
}
.recipe {
    background-color: pink;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
}